*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(135deg,  rgb(1, 41, 56), #091a79);
}

.create{
    width: 420px;
    padding: 35px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.create h1{
    text-align: center;
    color: #15153b;
    margin-bottom: 10px;
}

.tittle{
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
}

#createfoam input[type="text"],
#createfoam input[type="email"],
#createfoam input[type="password"]{
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#createfoam input{
    border-color: #5b3ca8;
}

.terms{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 5px 0 20px;
    font-size: 13px;
    color: #555;
}

.terms input{
    width: 15px;
    height: 15px;
}

#createfoam button{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background:   #15153b;
    color: white;
    font-size: 17px;
    cursor: pointer;
}



.login{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login a{
    color: #15153b;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width:480px) {
    .create{
        width: 100%;
        padding: 25px;
    }

    .create h1{
        font-size: 25px;
    }
}
